@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(HI_jiYsKILxRpg3hIP6sJ7fM7PqlOPHYvDP_W9O7GQTTbI1rSg.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(HI_jiYsKILxRpg3hIP6sJ7fM7PqlOPHYvDP_W9O7GQTTi4prSg.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQhM0.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DCuXhM0.woff) format('woff');
}
