---
BasedOnStyle: Google
ColumnLimit: 100
---
Language: Cpp
ContinuationIndentWidth: 2
UseTab: Never
ConstructorInitializerIndentWidth: 2
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeBraces: Attach
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeTemplateCloser: true
# BracketAlignmentStyle: BlockIndent
AlignAfterOpenBracket: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
RequiresClausePosition: OwnLineWithBrace
IndentRequiresClause: false
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLineOnly
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: false
SpaceAfterTemplateKeyword: false
SeparateDefinitionBlocks: Leave
WrapNamespaceBodyWithEmptyLines: Always
NamespaceIndentation: Inner
BinPackArguments: false
BinPackParameters: OnePerLine
# RequiresExpressionIndentation: OuterScope
IncludeCategories:
  - Regex:           '<R[[:alnum:]._]+>'
    Priority:        2
    CaseSensitive:   true
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        3
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0
---
