importFrom(plyr, ldply)
import(lazyeval)
import(dplyr)
import(tidyr)
import(ggplot2)

export(
    data_list,
    as.data_list,
    compose_data,
    extract_samples,
    apply_prototypes,
    compare_levels,
    geom_raindrop,
    ggraindrop
    )

S3method(c, data_list)
S3method(print, data_list)
S3method(as.data_list, default)
S3method(as.data_list, numeric)
S3method(as.data_list, logical)
S3method(as.data_list, factor)
S3method(as.data_list, list)
S3method(as.data_list, data.frame)
S3method(as.data_list, data_list)
