
@media (min-width: 1400px) {
  body {
    font-size: inherit;
  }
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #444444;
}

pre {
  padding: 0.9rem 1rem 1rem;
  background-color: #f6f6f6;
  border: none;
  border-radius: 0.5em;
}

.navbar {
  background-color: white !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.navbar-brand {
  font-size: var(--bs-nav-link-font-size);
  color: #6c757d;
}

h1, .h1 {
  font-size: calc(1.375rem + 1vw);
  font-weight: 700;
}

h2, .h2 {
  font-size: calc(1.325rem + 0.5vw);
}

h3, .h3 {
  font-size: calc(1.1rem + 0.4vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2rem;
  }

  h2, .h2 {
    font-size: 1.75rem;
  }

  h3, .h3 {
    font-size: 1.4rem;
  }
}

aside h2, aside .h2 {
  margin-bottom: 0.5rem;
}

.icon img {
  width: 60px;
}
